<!DOCTYPE html>
<html>
  <head>
    <title>WhatIsIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
      <% if current_user %>
        <div class="text-right my-4">
          Logged in as <strong><%= current_user %></strong>  |  
          <%= link_to 'View my profile', new_api_v1_session_path, class:'btn text-light btn-sm', style:'background-color: #137547;' %>  |  
          <%= link_to "Log out", new_api_v1_user_path, class:'btn text-light btn-sm', style:'background-color: #137547;' %>
        </div>
      <% else %>
        <div class="text-right my-4">
          <%= link_to "Log in", new_api_v1_session_path, class:'btn text-light btn-sm', style:'background-color: #137547;' %>  |  
          <%= link_to "Register New User", new_api_v1_user_path, class:'btn text-light btn-sm', style:'background-color: #137547;' %>
        </div>
      <% end %>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: flash_classes(name) %>
      <% end %>

    
    <%= yield %>
    </div>
  </body>
</html>
