<h1>Editing Question</h1>

<%= link_to 'Back', api_v1_questions_path %>

<%= form_with scope: :question, url: api_v1_question_path, method: :put, local: true do |form| %>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

    <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>