<h1>Add an answer to the post</h1>

<%= form_with scope: :answer, url: api_v1_answers_path do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :question_id, value: @question.id %>
    <div class="form-group">
        <%= form.label :content %><br>
        <%= form.text_area :content, class:'form-control' %>
    </div>

  <p>
    <%= form.submit class:'btn text-light', style:'background-color: #137547;' %>
  </p>
 
<% end %>